<h1 class="p-3 border bg-light">Welcome, to Ruby on Rails Blog!</h1>
<p class="p-3 border bg-light">Here you can write your own article, or leave a comment on an existing article, but for this you need to register or log in!</p>
